* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}
/* ----------------------NAVBAR----------------------------------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
}

.navbar-logo-container{
  max-width: 30%;
  min-width: 30%;
  height: auto;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-account-icon {
  font-size: 2rem;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}



/* --------------------HOME PAGE---------------------------- */
.landing-page{
  display: flex;
  flex-direction: row-reverse;
  
}
.globe{
  max-height: 600px;
}

@media (max-width: 1150px) {
  .landing-page{
    flex-direction: column-reverse;
  }

  .globe{
    margin-left: auto;
    margin-right: auto;
  }


}

.home-text-section {
  flex: 1;
  margin-right: 100px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: flex-start; */ 
}
.primary-heading {
  font-size: clamp(3rem, 3vw, 3rem);
  color: #4c4c4c;
  line-height: 4rem;
  max-width: 700px;
  padding-top: 10rem;
  text-align: left;


}
.text-gradient {
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #25A7CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
  /* padding-bottom: 16rem; */
}


/* --------------------GENERAL PAGE SECTION---------------------------- */

.page-title{
  display: flex;
  justify-content: center;

}





/* --------------------CARDS SECTION---------------------------- */

.cards-section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  min-height:80vh;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}


.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
}

.card:hover{
  border-color: #1d39c4;
}

.card-btn{
  border: none;
  outline: none;
  background: #1d39c4;
  color: #fff;
  border-radius: 10px;
  max-width: 120px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
  border: 1px solid #1d39c4;
}

.card-btn:hover {
  background: transparent;
  color: #1d39c4;
}


/* --------------------FOOTER---------------------------- */

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text{
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

/* ------------------------------------------------------------------------- */


.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
  .primary-button {
    font-size: 1rem;
  }

  .primary-heading {
    font-size: clamp(3rem, 3vw, 3rem);
    color: #4c4c4c;
    line-height: 3rem;
    max-width: 700px;
  }


}
@media (max-width: 800px) {
  .navbar-logo-container {
    max-width: 200px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  /* .primary-heading {
    text-align: center;
    max-width: 100%;
  } */
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .primary-heading {
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }


  .App {
    max-width: 95vw;
  }
}
